# Database
DATABASE_URL="postgresql://itmanagerbst:@localhost:5432/empuwritten"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=LVzwj2eWXO/WU7D3Th0qXnmiWTBCfFWtr7HHLZXTY+VfBiXfy/DkLVPOcmH8x0iiAexhqJp7eiHbzhnRVjpcNA==

# Admin credentials
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="password"
